@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::after,
*::before {
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #e5eaf5;
}

input {
  font-family: 'Ubuntu', sans-serif;
  background-color: #e5eaf5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
